# Pandas Task

1) Load the dataset into a pandas DataFrame and display the first 5 rows.

In [3]:
# Load the dataset
import pandas as pd

In [5]:
# Display the first 5 rows
x = ['hassan', 'mohamed', 'ahmed', 'osama', 'hamada']
b = pd.Series(x)
b

0     hassan
1    mohamed
2      ahmed
3      osama
4     hamada
dtype: object

2) How many students are there in the dataset?

In [ ]:
# Count the number of rows
five rows

3) What are the unique values in the 'gender' column?

In [ ]:
# Get unique values in the 'gender' column
3-female	group C
8-female	group B
10-male 	group D
15-male 	group A
20-male 	group C 
23-female	group B

4) Create a new column 'total_score' which sums up the scores of math, reading, and writing for each student.

In [18]:
# Create a new column 'total_score'
import pandas as pd

df = pd.DataFrame({
    'student': ['Hassan', 'Ahmed', 'Mohamed'],
    'math': [85, 90, 95],
    'reading': [88, 92, 85],
    'writing': [84, 89, 91]
})

# Create a new column 'total_score'
df['total_score'] = df['math'] + df['reading'] + df['writing']

print(df)

   student  math  reading  writing  total_score
0   Hassan    85       88       84          257
1    Ahmed    90       92       89          271
2  Mohamed    95       85       91          271

5.Create a new column 'pass_status' which contains 'Pass' if the student's total score is greater than or equal to 150, otherwise 'Fail'.

In [28]:
# Create a new column 'pass_status'
import pandas as pd

df = pd.DataFrame({
    'student': ['Hassan', 'Ahmed', 'Mohamed'],
    'math': [85, 90, 95],
    'reading': [88, 92, 85],
    'writing': [84, 89, 91]
})

# Create a new column 'total_score'
df['total_score'] = df['math'] + df['reading'] + df['writing']

def get_pass_status(row):
    
    if row ['total_score'] >=150 :
        return 'success'
    else:
        return 'Fail'

# row علي كل check السطر ده علشان يعمل 
df['pass_status'] = df.apply(get_pass_status, axis=1)

print(df)

   student  math  reading  writing  total_score pass_status
0   Hassan    85       88       84          257     success
1    Ahmed    90       92       89          271     success
2  Mohamed    95       85       91          271     success

6) How many null values are there in each column of the dataset?

In [ ]:
test preparation course : 19 value

7.Create a Pandas Series from the dictionary {"A": 10, "B": 20, "C": 30}. Then, replace the value at index "B" with 99 and access the value at index "C" using .loc[].

In [13]:
import pandas as pd

data = {"A": 10, "B": 20, "C": 30}
series = pd.Series(data)

series["B"] = 99

value_c = series.loc["C"]

print(series)
print(value_c)

A    10
B    99
C    30
dtype: int64
30

8.Initialize a DataFrame using the following data:
data = {"Name": ["Alice", "Bob", "Charlie"], "Age": [25, 30, 35]}
Then, add a new column "Salary" with values [50000, 60000, 70000].

In [14]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}

x = pd.DataFrame(data)

x["Salary"] = [50000, 60000, 70000]

print(x)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

9.Given the DataFrame below, replace all NaN values with the mean of their respective columns.
df = pd.DataFrame({"A": [1, 2, np.nan], "B": [5, np.nan, 7], "C": [np.nan, 10, 11]})

10.A DataFrame has duplicate rows. Identify them using .duplicated() and remove them using .drop_duplicates().
Example DataFrame:
df = pd.DataFrame({"X": ["A", "B", "A", "C"], "Y": [1, 2, 1, 3]})

In [15]:
import pandas as pd

df = pd.DataFrame({
    "X": ["A", "B", "A", "C"],
    "Y": [1, 2, 1, 3]
})


duplicates = df.duplicated()
print("Duplicate rows:\n", duplicates)

df_no_duplicates = df.drop_duplicates()

print("\nDataFrame removing duplicates\n", df_no_duplicates)

Duplicate rows:
 0    False
1    False
2     True
3    False
dtype: bool

DataFrame after removing duplicates:
    X  Y
0  A  1
1  B  2
3  C  3

# Dataset

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams